html {
  text-align: center;
  background-color: #e9f4f4;
  font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif;
  overflow-y: hidden;
}

.annoyingPage {
  margin: 0px;
  height: 100vh;
}

.irritatingPage {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  border: solid #8cbccf 20px;
  display: inline-flex;
  width: 100%;
  /*border: solid green 1px;*/
}

.centreColumn {
  /* margin-left: 33%;
  margin-right: 33%;*/
  width: 34%;
  background-color: #afdae9;
  color: white;
  /* border: solid #afdae9 1px; */
  border: 0px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.sideColumn {
  width: 33%;
  border: solid black 1px;
  height: 100%;
  position: relative;
  /*display: flex;
  justify-content: flex-end;
  flex-direction: column;*/
}

#leftCatPile {
  border: solid red 1px;
  /*float: right;*/
  
  position: absolute;
  bottom: 0px; left: 0px;
}
#rightCatPile {
  border: solid red 1px;
  /*float: right;*/

  position: absolute;
  bottom: 0px; right: 0px;
}

#climbingCat {
  scale: 50%;
  border: solid yellow 1px;
  position: absolute;
  top: 0px; right: -300px;
}

#topClimbingCat {
  scale: 50%;
  border: solid orange 1px;
  position: sticky;
  /*top: -300px; right: 0px;              where is the image relative to??? how to move it up...*/
}

.title {
  /*padding: 10px;*/
  margin: 0px;
  font-size: 60px;
  /*margin-right: 30%;
  margin-left: 30%;*/
}

.info {
  font-size: 30px;
  /*padding-top: 50px;*/
  padding-left: 20px;
  padding-right: 20px;
}

.play-button {
  border: 0px;
  border-radius: 30px;
  background-color: white;
  color: #6bc4ff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  /*transition-duration: 0.4s;
  cursor: pointer;*/
  width: 50%;
  font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif;
}

.info-button {
  color: #6bc4ff;
  text-decoration: none;
  background-color: white;
  font-size: 30px;
  /*margin-top: 20px;*/
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.xwelcome {
  font-size: 50px;
  color: white;
}

.xback {
  color: #6bc4ff;
  text-decoration: none;
  background-color: white;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.xinfo2 {
  font-size: 40px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}