html {
  text-align: center;
  background-color: #e9f4f4;
  font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif;
  overflow-y: hidden;
}

.annoyingPage {
  margin: 0px;
  height: 100vh;
  display: flex;
}

.irritatingPage {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  border: solid #8cbccf 20px;
  display: flex;
  width: 100%;
}

.centreColumn {
  flex: 34%;
  background-color: #afdae9;
  color: white;
  border: 0px;
  height: 100%;
 /* margin-top: auto;
  margin-bottom: auto;*/
}

.sideColumn {
  flex: 33%;
  /*border: solid black 1px;*/
  height: 100%;
  position: relative;
}

#leftCatPile {
  border: solid red 1px;
  /*float: right;*/
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#rightCatPile {
  border: solid red 1px;
  /*float: right;*/
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#climbingCat {
  scale: 50%;
  border: solid yellow 1px;
  position: absolute;
  top: 20%;
  right: -110px;
}

#topClimbingCat {
  scale: 50%;
  border: solid orange 1px;
  position: sticky;
  top: -20px;
  /*top: -300px; right: 0px;              where is the image relative to??? how to move it up...*/
}

.title {
  margin: 0px;
  font-size: 60px;
}

.info {
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.play-button {
  border: 0px;
  border-radius: 30px;
  background-color: white;
  color: #6bc4ff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  width: 50%;
  font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif;
}

.info-button {
  color: #6bc4ff;
  text-decoration: none;
  background-color: white;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  text-align: center;
}



/* INFO PAGE STYLING */


.back-button {
  color: #6bc4ff;
  text-decoration: none;
  background-color: white;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.centreColumnInfo {
  width: 34%;
  background-color: #afdae9;
  color: white;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 60px;
}

.infoPageWhole {
  margin: 0px;
  height: 100vh;
}

.infoPage{
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  border: solid #8cbccf 20px;
  display: inline-flex;
  width: 100%;
}

.info2 {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.infoTitle {
   font-weight: bold;         
}



/* NEED TO  
-  make infoTitle 
-  make images PNG's
-  top hanging cat position
*/